<%- include("partials/header.ejs"); %>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>About us</h1>
            <p>We are a car rental company.</p>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs"); %>